<!DOCTYPE html>
<html>
  <head>
    <title>Convenient ID Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <a id="a" href="/">ID Card Generator</a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#past" target="_self">About</a></li>
        <li><a href="#foot" target="_self">Contact</a></li>
      </ul>
    </nav>
    <hr />
    <!-- Main Section -->
    <section id="info">
      <div id="infodiv">
        <h1>Convenient ID Generator</h1>
        <h3>Create Professional ID Cards in Minutes</h3>
        <div>
          <p>
            Welcome to ID Card Generator, the ultimate solution for generating
            professional ID cards in just a few clicks. Our easy-to-use platform
            allows you to choose from a variety of templates. input student
            information. upload photos. and generate barcodes in minutes.
            Whether you're a small school or a large organization. we have the
            flexibility to provide customszable designs. barcode integration.
            and photo upload options. Keep exploring our site to learn more
            information about our service. and reach out directly with any
            questions.
          </p>
        </div>
        <button onclick="login_page()">Get Started</button>
      </div>
      <div id="imgdiv">
        <img src="/career-suit-red-crazy-businessman.png" alt="person" />
      </div>
    </section>

    <!-- templates -->
    <section id="temp">
      <h2>Template Choices</h2>
      <div class="scroller" data-speed="slow1">
        <ul class="tag-list scroller__inner">
          <li>School</li>
          <li>Business</li>
          <li>Corporate</li>
          <li>Company</li>
          <li>Marketing</li>
          <li>Personal</li>
          <li>Membership</li>
          <li>Student</li>
          <li>Staff</li>
          <li>Teacher</li>
          <li>Name Tag</li>
          <li>Gym</li>
          <li>Collage</li>
          <li>University</li>
          <li>Hospital</li>
        </ul>
      </div>
      <div class="scroller" data-direction="left" data-speed="slow2">
        <div class="scroller__inner">
          <img src="https://i.pravatar.cc/150?img=1" alt="" />
          <img src="https://i.pravatar.cc/150?img=2" alt="" />
          <img src="https://i.pravatar.cc/150?img=3" alt="" />
          <img src="https://i.pravatar.cc/150?img=4" alt="" />
          <img src="https://i.pravatar.cc/150?img=5" alt="" />
          <img src="https://i.pravatar.cc/150?img=6" alt="" />
          <img src="https://i.pravatar.cc/150?img=7" alt="" />
          <img src="https://i.pravatar.cc/150?img=8" alt="" />
          <img src="https://i.pravatar.cc/150?img=9" alt="" />
          <img src="https://i.pravatar.cc/150?img=10" alt="" />
        </div>
      </div>
    </section>

    <!-- Past Experience and Education Section -->
    <section class="past" id="past">
      <h2>Past Experience and Projects</h2>
      <div class="experience">
        <div class="h3"><h3>xxXXxx</h3></div>
        <div class="pra">
          <p>
            As a [Job Title] at [Company], was in charge of [Task] and
            [Different Task]. Our team composed of [Number] of specialists was
            able to achieve [Achievement], exceeding the goals set by our
            supervisors. Learned the importance to pay attention to detail,
            organizational skills and how to manage time effectively. Provided
            with the necessary knowledge to tackle most projects. Don't forget
            to adjust the dates listed.
          </p>
        </div>
        <div class="work"><button>Work</button></div>
      </div>
      <hr />
      <div class="experience">
        <div class="h3"><h3>yyYYyy</h3></div>
        <div class="pra">
          <p>
            As a [Job Title] at [Company], was in charge of [Task] and
            [Different Task]. Our team composed of [Number] of specialists was
            able to achieve [Achievement], exceeding the goals set by our
            supervisors. Learned the importance to pay attention to detail,
            organizational skills and how to manage time effectively. Provided
            with the necessary knowledge to tackle most projects. Don't forget
            to adjust the dates listed.
          </p>
        </div>
        <div class="work"><button>Work</button></div>
      </div>
      <hr />
      <div class="experience">
        <div class="h3"><h3>zzZZzz</h3></div>
        <div class="pra">
          <p>
            As a [Job Title] at [Company], was in charge of [Task] and
            [Different Task]. Our team composed of [Number] of specialists was
            able to achieve [Achievement], exceeding the goals set by our
            supervisors. Learned the importance to pay attention to detail,
            organizational skills and how to manage time effectively. Provided
            with the necessary knowledge to tackle most projects. Don't forget
            to adjust the dates listed.
          </p>
        </div>
        <div class="work"><button>Work</button></div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="foot">
      <div>
        <h3>ID Card Generator</h3>
      </div>
      <div class="second">
        <p id="phone">999-888-777</p>
        <p id="mail">info@mysite.com</p>
        <p id="addr">
          Shop No 4, Mayuri Darshan, Shivaji Nagar, Wagle Estate, Thane (west),
          Mumbai, Maharashtra (400604), India
        </p>
        <h1 id="h1_1">Stay informed, join our</h1>
        <h1 id="h1_2">newsletter</h1>
        <div>
          <input type="email" placeholder="Enter your email here" />
          <button>Subscribe</button>
        </div>
      </div>
    </footer>
    <script src="/static/js/script.js"></script>
  </body>
</html>
