<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/Resister</title>
    <link rel="stylesheet" href="/static/css/login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  </head>
  <body>
    <section>
        <div class="login-form">
            <img src="/ClipartKey_2367627.png" alt="profile image">
          <h2>LOG IN</h2>
          <form class="form_">
            <input type="text" id="username" name="username" placeholder="Username"/>
            <hr>
            <br>
            <input type="password" id="password" name="password" placeholder="Password" />
            <hr>
            <br>
            <button>Submit</button>
          </form>
          <a href="#">Forget Password</a>
        </div>
    </section>
  </body>
</html>
